In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [2]:
tf.__version__

'2.5.0'

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
dataset.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [6]:
dataset.value_counts().sum()

10000

In [7]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
#no missing data

In [9]:
#dropping the first 3 columns as they have no significance

In [10]:
dataset = dataset.drop(labels=['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [11]:
dataset.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [12]:
X = dataset.drop('Exited',axis=1).values

In [13]:
y = dataset['Exited'].values

In [14]:
dataset

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [15]:
#encoding the categorical columns, LabelEncoder for Gender (as only options are male and female), and OneHotEncoder for Geography

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le = LabelEncoder()

In [18]:
X[:,2] = le.fit_transform(X[:,2])

In [19]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [20]:
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])],remainder='passthrough')

In [21]:
X = np.array(ct.fit_transform(X))

In [22]:
X.shape

(10000, 12)

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [25]:
from sklearn.preprocessing import StandardScaler

In [26]:
sc = StandardScaler()

In [27]:
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [28]:
from tensorflow.keras.models import Sequential

In [29]:
from tensorflow.keras.layers import Dense, Dropout

In [30]:
from tensorflow.keras.callbacks import EarlyStopping

In [31]:
ann = Sequential()

In [32]:
ann.add(Dense(12, activation = 'relu'))

In [33]:
ann.add(Dense(6, activation = 'relu'))

In [34]:
#output layer
ann.add(Dense(1, activation = 'sigmoid'))

In [35]:
ann.compile(optimizer='adam', loss= 'binary_crossentropy', metrics='accuracy')

In [36]:
ann.fit(x=X_train,y=y_train, batch_size=32, epochs=200, verbose=1)

Epoch 1/200
250/250 [==============================] - 0s 590us/step - loss: 0.5454 - accuracy: 0.7711
Epoch 2/200
250/250 [==============================] - 0s 588us/step - loss: 0.4517 - accuracy: 0.8067
Epoch 3/200
250/250 [==============================] - 0s 593us/step - loss: 0.4291 - accuracy: 0.8142
Epoch 4/200
250/250 [==============================] - 0s 587us/step - loss: 0.4183 - accuracy: 0.8214
Epoch 5/200
250/250 [==============================] - 0s 577us/step - loss: 0.4116 - accuracy: 0.8249
Epoch 6/200
250/250 [==============================] - 0s 588us/step - loss: 0.4064 - accuracy: 0.8275
Epoch 7/200
250/250 [==============================] - 0s 567us/step - loss: 0.4020 - accuracy: 0.8282
Epoch 8/200
250/250 [==============================] - 0s 551us/step - loss: 0.3983 - accuracy: 0.8305
Epoch 9/200
250/250 [==============================] - 0s 560us/step - loss: 0.3941 - accuracy: 0.8300
Epoch 10/200
250/250 [==============================] - 0s 581us/step - loss: 0.3907 - accuracy: 0.8336
Epoch 11/200
250/250 [==============================] - 0s 638us/step - loss: 0.3864 - accuracy: 0.8342
Epoch 12/200
250/250 [==============================] - 0s 570us/step - loss: 0.3812 - accuracy: 0.8376
Epoch 13/200
250/250 [==============================] - 0s 565us/step - loss: 0.3751 - accuracy: 0.8462
Epoch 14/200
250/250 [==============================] - 0s 564us/step - loss: 0.3687 - accuracy: 0.8468
Epoch 15/200
250/250 [==============================] - 0s 570us/step - loss: 0.3621 - accuracy: 0.8509
Epoch 16/200
250/250 [==============================] - 0s 558us/step - loss: 0.3563 - accuracy: 0.8564
Epoch 17/200
250/250 [==============================] - 0s 561us/step - loss: 0.3516 - accuracy: 0.8561
Epoch 18/200
250/250 [==============================] - 0s 571us/step - loss: 0.3480 - accuracy: 0.8568
Epoch 19/200
250/250 [==============================] - 0s 566us/step - loss: 0.3456 - accuracy: 0.8593
Epoch 20/200
250/250 [==============================] - 0s 552us/step - loss: 0.3433 - accuracy: 0.8593
Epoch 21/200
250/250 [==============================] - 0s 588us/step - loss: 0.3416 - accuracy: 0.8597
Epoch 22/200
250/250 [==============================] - 0s 550us/step - loss: 0.3406 - accuracy: 0.8605
Epoch 23/200
250/250 [==============================] - 0s 599us/step - loss: 0.3396 - accuracy: 0.8593
Epoch 24/200
250/250 [==============================] - 0s 625us/step - loss: 0.3387 - accuracy: 0.8610
Epoch 25/200
250/250 [==============================] - 0s 627us/step - loss: 0.3374 - accuracy: 0.8608
Epoch 26/200
250/250 [==============================] - 0s 603us/step - loss: 0.3365 - accuracy: 0.8600
Epoch 27/200
250/250 [==============================] - 0s 542us/step - loss: 0.3361 - accuracy: 0.8610
Epoch 28/200
250/250 [==============================] - 0s 613us/step - loss: 0.3355 - accuracy: 0.8605
Epoch 29/200
250/250 [==============================] - 0s 563us/step - loss: 0.3349 - accuracy: 0.8610
Epoch 30/200
250/250 [==============================] - 0s 549us/step - loss: 0.3345 - accuracy: 0.8606
Epoch 31/200
250/250 [==============================] - 0s 536us/step - loss: 0.3339 - accuracy: 0.8604
Epoch 32/200
250/250 [==============================] - 0s 553us/step - loss: 0.3331 - accuracy: 0.8620
Epoch 33/200
250/250 [==============================] - 0s 560us/step - loss: 0.3333 - accuracy: 0.8606
Epoch 34/200
250/250 [==============================] - 0s 545us/step - loss: 0.3326 - accuracy: 0.8625
Epoch 35/200
250/250 [==============================] - 0s 559us/step - loss: 0.3321 - accuracy: 0.8621
Epoch 36/200
250/250 [==============================] - 0s 555us/step - loss: 0.3323 - accuracy: 0.8618
Epoch 37/200
250/250 [==============================] - 0s 551us/step - loss: 0.3317 - accuracy: 0.8636
Epoch 38/200
250/250 [==============================] - 0s 553us/step - loss: 0.3316 - accuracy: 0.8633
Epoch 39/200
250/250 [==============================] - 0s 568us/step - loss: 0.3313 - accuracy: 0.8627
Epoch 40/200
250/250 [==============================] - 0s 574us/step - loss: 0.3309 - accuracy: 0.8629
Epoch 41/200
250/250 [==============================] - 0s 568us/step - loss: 0.3308 - accuracy: 0.8650
Epoch 42/200
250/250 [==============================] - 0s 585us/step - loss: 0.3303 - accuracy: 0.8634
Epoch 43/200
250/250 [==============================] - 0s 560us/step - loss: 0.3308 - accuracy: 0.8641
Epoch 44/200
250/250 [==============================] - 0s 571us/step - loss: 0.3296 - accuracy: 0.8646
Epoch 45/200
250/250 [==============================] - 0s 540us/step - loss: 0.3299 - accuracy: 0.8659
Epoch 46/200
250/250 [==============================] - 0s 575us/step - loss: 0.3298 - accuracy: 0.8664
Epoch 47/200
250/250 [==============================] - 0s 557us/step - loss: 0.3292 - accuracy: 0.8654
Epoch 48/200
250/250 [==============================] - 0s 597us/step - loss: 0.3291 - accuracy: 0.8654
Epoch 49/200
250/250 [==============================] - 0s 564us/step - loss: 0.3289 - accuracy: 0.8629
Epoch 50/200
250/250 [==============================] - 0s 577us/step - loss: 0.3289 - accuracy: 0.8649
Epoch 51/200
250/250 [==============================] - 0s 553us/step - loss: 0.3288 - accuracy: 0.8649
Epoch 52/200
250/250 [==============================] - 0s 563us/step - loss: 0.3278 - accuracy: 0.8661
Epoch 53/200
250/250 [==============================] - 0s 577us/step - loss: 0.3277 - accuracy: 0.8677
Epoch 54/200
250/250 [==============================] - 0s 555us/step - loss: 0.3274 - accuracy: 0.8666
Epoch 55/200
250/250 [==============================] - 0s 569us/step - loss: 0.3275 - accuracy: 0.8664
Epoch 56/200
250/250 [==============================] - 0s 561us/step - loss: 0.3275 - accuracy: 0.8650
Epoch 57/200
250/250 [==============================] - 0s 580us/step - loss: 0.3272 - accuracy: 0.8656
Epoch 58/200
250/250 [==============================] - 0s 553us/step - loss: 0.3274 - accuracy: 0.8656
Epoch 59/200
250/250 [==============================] - 0s 551us/step - loss: 0.3269 - accuracy: 0.8651
Epoch 60/200
250/250 [==============================] - 0s 560us/step - loss: 0.3270 - accuracy: 0.8651
Epoch 61/200
250/250 [==============================] - 0s 538us/step - loss: 0.3262 - accuracy: 0.8655
Epoch 62/200
250/250 [==============================] - 0s 558us/step - loss: 0.3266 - accuracy: 0.8671
Epoch 63/200
250/250 [==============================] - 0s 549us/step - loss: 0.3253 - accuracy: 0.8658
Epoch 64/200
250/250 [==============================] - 0s 565us/step - loss: 0.3268 - accuracy: 0.8662
Epoch 65/200
250/250 [==============================] - 0s 548us/step - loss: 0.3263 - accuracy: 0.8670
Epoch 66/200
250/250 [==============================] - 0s 554us/step - loss: 0.3256 - accuracy: 0.8680
Epoch 67/200
250/250 [==============================] - 0s 549us/step - loss: 0.3257 - accuracy: 0.8670
Epoch 68/200
250/250 [==============================] - 0s 548us/step - loss: 0.3259 - accuracy: 0.8675
Epoch 69/200
250/250 [==============================] - 0s 542us/step - loss: 0.3254 - accuracy: 0.8689
Epoch 70/200
250/250 [==============================] - 0s 556us/step - loss: 0.3251 - accuracy: 0.8681
Epoch 71/200
250/250 [==============================] - 0s 561us/step - loss: 0.3253 - accuracy: 0.8669
Epoch 72/200
250/250 [==============================] - 0s 552us/step - loss: 0.3250 - accuracy: 0.8673
Epoch 73/200
250/250 [==============================] - 0s 549us/step - loss: 0.3256 - accuracy: 0.8680
Epoch 74/200
250/250 [==============================] - 0s 530us/step - loss: 0.3245 - accuracy: 0.8662
Epoch 75/200
250/250 [==============================] - 0s 581us/step - loss: 0.3249 - accuracy: 0.8662
Epoch 76/200
250/250 [==============================] - 0s 561us/step - loss: 0.3245 - accuracy: 0.8696
Epoch 77/200
250/250 [==============================] - 0s 554us/step - loss: 0.3243 - accuracy: 0.8671
Epoch 78/200
250/250 [==============================] - 0s 579us/step - loss: 0.3244 - accuracy: 0.8673
Epoch 79/200

250/250 [==============================] - 0s 599us/step - loss: 0.3242 - accuracy: 0.8669
Epoch 80/200
250/250 [==============================] - 0s 569us/step - loss: 0.3241 - accuracy: 0.8684
Epoch 81/200
250/250 [==============================] - 0s 554us/step - loss: 0.3243 - accuracy: 0.8669
Epoch 82/200
250/250 [==============================] - 0s 580us/step - loss: 0.3235 - accuracy: 0.8692
Epoch 83/200
250/250 [==============================] - 0s 543us/step - loss: 0.3242 - accuracy: 0.8662
Epoch 84/200
250/250 [==============================] - 0s 553us/step - loss: 0.3238 - accuracy: 0.8674
Epoch 85/200
250/250 [==============================] - 0s 556us/step - loss: 0.3234 - accuracy: 0.8664
Epoch 86/200
250/250 [==============================] - 0s 562us/step - loss: 0.3236 - accuracy: 0.8691
Epoch 87/200
250/250 [==============================] - 0s 547us/step - loss: 0.3234 - accuracy: 0.8684
Epoch 88/200
250/250 [==============================] - 0s 551us/step - loss: 0.3236 - accuracy: 0.8666
Epoch 89/200
250/250 [==============================] - 0s 551us/step - loss: 0.3234 - accuracy: 0.8673
Epoch 90/200
250/250 [==============================] - 0s 537us/step - loss: 0.3237 - accuracy: 0.8680
Epoch 91/200
250/250 [==============================] - 0s 565us/step - loss: 0.3232 - accuracy: 0.8673
Epoch 92/200
250/250 [==============================] - 0s 583us/step - loss: 0.3229 - accuracy: 0.8674
Epoch 93/200
250/250 [==============================] - 0s 579us/step - loss: 0.3230 - accuracy: 0.8676
Epoch 94/200
250/250 [==============================] - 0s 591us/step - loss: 0.3228 - accuracy: 0.8679
Epoch 95/200
250/250 [==============================] - 0s 565us/step - loss: 0.3228 - accuracy: 0.8679
Epoch 96/200
250/250 [==============================] - 0s 531us/step - loss: 0.3223 - accuracy: 0.8668
Epoch 97/200
250/250 [==============================] - 0s 548us/step - loss: 0.3228 - accuracy: 0.8669
Epoch 98/200
250/250 [==============================] - 0s 524us/step - loss: 0.3227 - accuracy: 0.8681
Epoch 99/200
250/250 [==============================] - 0s 535us/step - loss: 0.3225 - accuracy: 0.8690
Epoch 100/200
250/250 [==============================] - 0s 575us/step - loss: 0.3226 - accuracy: 0.8676
Epoch 101/200
250/250 [==============================] - 0s 539us/step - loss: 0.3228 - accuracy: 0.8690
Epoch 102/200
250/250 [==============================] - 0s 538us/step - loss: 0.3225 - accuracy: 0.8664
Epoch 103/200
250/250 [==============================] - 0s 534us/step - loss: 0.3223 - accuracy: 0.8681
Epoch 104/200
250/250 [==============================] - 0s 537us/step - loss: 0.3223 - accuracy: 0.8671
Epoch 105/200
250/250 [==============================] - 0s 585us/step - loss: 0.3221 - accuracy: 0.8674
Epoch 106/200
250/250 [==============================] - 0s 581us/step - loss: 0.3221 - accuracy: 0.8674
Epoch 107/200
250/250 [==============================] - 0s 553us/step - loss: 0.3220 - accuracy: 0.8680
Epoch 108/200
250/250 [==============================] - 0s 609us/step - loss: 0.3223 - accuracy: 0.8680
Epoch 109/200
250/250 [==============================] - 0s 554us/step - loss: 0.3222 - accuracy: 0.8692
Epoch 110/200
250/250 [==============================] - 0s 540us/step - loss: 0.3221 - accuracy: 0.8677
Epoch 111/200
250/250 [==============================] - 0s 537us/step - loss: 0.3220 - accuracy: 0.8658
Epoch 112/200
250/250 [==============================] - 0s 537us/step - loss: 0.3221 - accuracy: 0.8685
Epoch 113/200
250/250 [==============================] - 0s 549us/step - loss: 0.3216 - accuracy: 0.8677
Epoch 114/200
250/250 [==============================] - 0s 559us/step - loss: 0.3220 - accuracy: 0.8685
Epoch 115/200
250/250 [==============================] - 0s 569us/step - loss: 0.3217 - accuracy: 0.8674
Epoch 116/200
250/250 [==============================] - 0s 529us/step - loss: 0.3216 - accuracy: 0.8687
Epoch 117/200
250/250 [==============================] - 0s 522us/step - loss: 0.3218 - accuracy: 0.8686
Epoch 118/200
250/250 [==============================] - 0s 535us/step - loss: 0.3220 - accuracy: 0.8676
Epoch 119/200
250/250 [==============================] - 0s 542us/step - loss: 0.3213 - accuracy: 0.8670
Epoch 120/200
250/250 [==============================] - 0s 526us/step - loss: 0.3209 - accuracy: 0.8677
Epoch 121/200
250/250 [==============================] - 0s 525us/step - loss: 0.3221 - accuracy: 0.8677
Epoch 122/200
250/250 [==============================] - 0s 532us/step - loss: 0.3220 - accuracy: 0.8677
Epoch 123/200
250/250 [==============================] - 0s 549us/step - loss: 0.3214 - accuracy: 0.8670
Epoch 124/200
250/250 [==============================] - 0s 612us/step - loss: 0.3216 - accuracy: 0.8665
Epoch 125/200
250/250 [==============================] - 0s 551us/step - loss: 0.3214 - accuracy: 0.8691
Epoch 126/200
250/250 [==============================] - 0s 542us/step - loss: 0.3216 - accuracy: 0.8685
Epoch 127/200
250/250 [==============================] - 0s 541us/step - loss: 0.3212 - accuracy: 0.8670
Epoch 128/200
250/250 [==============================] - 0s 627us/step - loss: 0.3208 - accuracy: 0.8685
Epoch 129/200
250/250 [==============================] - 0s 530us/step - loss: 0.3211 - accuracy: 0.8690
Epoch 130/200
250/250 [==============================] - 0s 565us/step - loss: 0.3216 - accuracy: 0.8680
Epoch 131/200
250/250 [==============================] - 0s 548us/step - loss: 0.3206 - accuracy: 0.8698
Epoch 132/200
250/250 [==============================] - 0s 577us/step - loss: 0.3212 - accuracy: 0.8666
Epoch 133/200
250/250 [==============================] - 0s 539us/step - loss: 0.3212 - accuracy: 0.8680
Epoch 134/200
250/250 [==============================] - 0s 577us/step - loss: 0.3208 - accuracy: 0.8676
Epoch 135/200
250/250 [==============================] - 0s 583us/step - loss: 0.3209 - accuracy: 0.8684
Epoch 136/200
250/250 [==============================] - 0s 569us/step - loss: 0.3212 - accuracy: 0.8689
Epoch 137/200
250/250 [==============================] - 0s 701us/step - loss: 0.3212 - accuracy: 0.8680
Epoch 138/200
250/250 [==============================] - 0s 569us/step - loss: 0.3211 - accuracy: 0.8686
Epoch 139/200
250/250 [==============================] - 0s 561us/step - loss: 0.3206 - accuracy: 0.8662
Epoch 140/200
250/250 [==============================] - 0s 570us/step - loss: 0.3215 - accuracy: 0.8686
Epoch 141/200
250/250 [==============================] - 0s 634us/step - loss: 0.3206 - accuracy: 0.8680
Epoch 142/200
250/250 [==============================] - 0s 584us/step - loss: 0.3207 - accuracy: 0.8666
Epoch 143/200
250/250 [==============================] - 0s 585us/step - loss: 0.3210 - accuracy: 0.8691
Epoch 144/200
250/250 [==============================] - 0s 591us/step - loss: 0.3205 - accuracy: 0.8671
Epoch 145/200
250/250 [==============================] - 0s 552us/step - loss: 0.3211 - accuracy: 0.8684
Epoch 146/200
250/250 [==============================] - 0s 538us/step - loss: 0.3210 - accuracy: 0.8679
Epoch 147/200
250/250 [==============================] - 0s 537us/step - loss: 0.3206 - accuracy: 0.8685
Epoch 148/200
250/250 [==============================] - 0s 600us/step - loss: 0.3209 - accuracy: 0.8671
Epoch 149/200
250/250 [==============================] - 0s 537us/step - loss: 0.3202 - accuracy: 0.8684
Epoch 150/200
250/250 [==============================] - 0s 536us/step - loss: 0.3202 - accuracy: 0.8680
Epoch 151/200
250/250 [==============================] - 0s 559us/step - loss: 0.3203 - accuracy: 0.8683
Epoch 152/200
250/250 [==============================] - 0s 569us/step - loss: 0.3204 - accuracy: 0.8685
Epoch 153/200
250/250 [==============================] - 0s 542us/step - loss: 0.3204 - accuracy: 0.8692
Epoch 154/200
250/250 [==============================] - 0s 531us/step - loss: 0.3204 - accuracy: 0.8696
Epoch 155/200
250/250 [==============================] - 0s 523us/step - loss: 0.3204 - accuracy: 0.8674
Epoch 156/200
250/250 [==============================] - 0s 564us/step - loss: 0.3198 - accuracy: 0.8684
Epoch 157/200

250/250 [==============================] - 0s 553us/step - loss: 0.3203 - accuracy: 0.8680
Epoch 158/200
250/250 [==============================] - 0s 540us/step - loss: 0.3200 - accuracy: 0.8676
Epoch 159/200
250/250 [==============================] - 0s 552us/step - loss: 0.3202 - accuracy: 0.8702
Epoch 160/200
250/250 [==============================] - 0s 570us/step - loss: 0.3196 - accuracy: 0.8687
Epoch 161/200
250/250 [==============================] - 0s 523us/step - loss: 0.3205 - accuracy: 0.8683
Epoch 162/200
250/250 [==============================] - 0s 523us/step - loss: 0.3201 - accuracy: 0.8673
Epoch 163/200
250/250 [==============================] - 0s 550us/step - loss: 0.3200 - accuracy: 0.8699
Epoch 164/200
250/250 [==============================] - 0s 625us/step - loss: 0.3196 - accuracy: 0.8695
Epoch 165/200
250/250 [==============================] - 0s 535us/step - loss: 0.3197 - accuracy: 0.8684
Epoch 166/200
250/250 [==============================] - 0s 583us/step - loss: 0.3202 - accuracy: 0.8686
Epoch 167/200
250/250 [==============================] - 0s 558us/step - loss: 0.3201 - accuracy: 0.8680
Epoch 168/200
250/250 [==============================] - 0s 555us/step - loss: 0.3199 - accuracy: 0.8677
Epoch 169/200
250/250 [==============================] - 0s 564us/step - loss: 0.3196 - accuracy: 0.8696
Epoch 170/200
250/250 [==============================] - 0s 530us/step - loss: 0.3197 - accuracy: 0.8687
Epoch 171/200
250/250 [==============================] - 0s 517us/step - loss: 0.3195 - accuracy: 0.8679
Epoch 172/200
250/250 [==============================] - 0s 537us/step - loss: 0.3193 - accuracy: 0.8686
Epoch 173/200
250/250 [==============================] - 0s 539us/step - loss: 0.3197 - accuracy: 0.8696
Epoch 174/200
250/250 [==============================] - 0s 572us/step - loss: 0.3198 - accuracy: 0.8690
Epoch 175/200
250/250 [==============================] - 0s 519us/step - loss: 0.3196 - accuracy: 0.8666
Epoch 176/200
250/250 [==============================] - 0s 534us/step - loss: 0.3193 - accuracy: 0.8694
Epoch 177/200
250/250 [==============================] - 0s 532us/step - loss: 0.3193 - accuracy: 0.8684
Epoch 178/200
250/250 [==============================] - 0s 538us/step - loss: 0.3191 - accuracy: 0.8685
Epoch 179/200
250/250 [==============================] - 0s 546us/step - loss: 0.3196 - accuracy: 0.8694
Epoch 180/200
250/250 [==============================] - 0s 527us/step - loss: 0.3195 - accuracy: 0.8679
Epoch 181/200
250/250 [==============================] - 0s 560us/step - loss: 0.3190 - accuracy: 0.8689
Epoch 182/200
250/250 [==============================] - 0s 530us/step - loss: 0.3193 - accuracy: 0.8690
Epoch 183/200
250/250 [==============================] - 0s 532us/step - loss: 0.3196 - accuracy: 0.8706
Epoch 184/200
250/250 [==============================] - 0s 529us/step - loss: 0.3192 - accuracy: 0.8687
Epoch 185/200
250/250 [==============================] - 0s 539us/step - loss: 0.3191 - accuracy: 0.8685
Epoch 186/200
250/250 [==============================] - 0s 527us/step - loss: 0.3190 - accuracy: 0.8689
Epoch 187/200
250/250 [==============================] - 0s 528us/step - loss: 0.3191 - accuracy: 0.8668
Epoch 188/200
250/250 [==============================] - 0s 514us/step - loss: 0.3191 - accuracy: 0.8665
Epoch 189/200
250/250 [==============================] - 0s 590us/step - loss: 0.3189 - accuracy: 0.8694
Epoch 190/200
250/250 [==============================] - 0s 540us/step - loss: 0.3189 - accuracy: 0.8681
Epoch 191/200
250/250 [==============================] - 0s 533us/step - loss: 0.3189 - accuracy: 0.8692
Epoch 192/200
250/250 [==============================] - 0s 534us/step - loss: 0.3190 - accuracy: 0.8684
Epoch 193/200
250/250 [==============================] - 0s 538us/step - loss: 0.3189 - accuracy: 0.8690
Epoch 194/200
250/250 [==============================] - 0s 546us/step - loss: 0.3188 - accuracy: 0.8710
Epoch 195/200
250/250 [==============================] - 0s 540us/step - loss: 0.3190 - accuracy: 0.8689
Epoch 196/200
250/250 [==============================] - 0s 542us/step - loss: 0.3188 - accuracy: 0.8690
Epoch 197/200
250/250 [==============================] - 0s 540us/step - loss: 0.3188 - accuracy: 0.8675
Epoch 198/200
250/250 [==============================] - 0s 540us/step - loss: 0.3192 - accuracy: 0.8680
Epoch 199/200
250/250 [==============================] - 0s 537us/step - loss: 0.3189 - accuracy: 0.8686
Epoch 200/200
250/250 [==============================] - 0s 537us/step - loss: 0.3187 - accuracy: 0.8704

In [ ]:
losses = pd.DataFrame(ann.h)